body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navBar{
 margin:5px;
 }
.navDiv{

  display: inline;
  width: 100%;
  margin: 3px;
  background-color: aqua;
  padding: 3px;
  border:2px solid black;
  align-items: center;

}
footer{
  background-color: cornflowerblue;
  height: 40px;
  margin: 0;
}
ul.footer li{
  display: inline;
  margin: 10px;
}
a{
  text-decoration: none;
  color: black;
}